<!-- The Modal -->
<div id="game-over" class="modal" width="60%">
  <!-- Modal content -->
  <div class="modal-content" width="60%">
    <div class="modal-header">
    </div>
    <div class="modal-body" id="gameOv" style="height:300px;background-color:#333333; background-repeat:no-repeat;background-position:center;background-image: url('images/game_over.gif');">

      <div id="winnerLeft" style="position:relative;display:inline-block;float:left;">
          <h2 style="color:white;display:inline"> &larr; WINNER &nbsp;<img src="images/win.gif"  align="middle"/> </h2>
      </div>
      <!-- <div style="position:relative;display:inline-block;float:center;" ><img src="images/game_over.gif"  align="middle"/></div> -->
      <div id="winnerRight" style="position:relative;display:inline-block;float:right;">
          <h2 style="display:inline;color:white"><img src="images/win.gif" align="middle"/>&nbsp; WINNER &rarr;</h2>
      </div>

    </div>
    <div class="modal-footer">

  </div>
  </div>
</div>
