<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">X</span>
      <h2>Personal profile</h2>
    </div>
    <div class="modal-body">
      <form id="form1" runat="server">

          <label for="nickname_">Nickname(*):</label>
          <input type='text' id="nickname_" /><br>
          <label for="imgProfile">Profile Picture(.jpg):</label>
          <input type='file' id="imgProfile" />
        <img width="48px" height="64px" id="blah" src="#" alt="your image" />
      </form>
    </div>
    <div class="modal-footer">
      <h5>This information is stored only on client side. </h5>
      <h5>* mandatory</h5>
      <h5>Close modal dialog once mandatory field nickname is filled</h5>
    </div>
  </div>
</div>
