<!-- The Modal -->
<div id="modalGameMode" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close"></span>
      <h2>Choose game mode</h2>
    </div>
    <div class="modal-body">
      <form id="form1" runat="server">
          <input class="option" type='button' id="single" value="1. Single player (you play against the computer)"/><br>
          <input class="option" type='button' id="network_new" value="2. Create network game (you play with left paddle)"/><br>
          <input class="option" type='button' id="network_join" value="3. Join existing network game (you play with right paddle)"/>

      </form>
    </div>
    <div class="modal-footer">
      <h5>It is funnier if you play in any network mode. Remember that it is possible no one is connected at the same time and network playing it would be impossible </h5>
    </div>
  </div>
</div>
