html {
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    background-color: black;
}
h2#playerLeft{
  content:"TOTO";
  position: absolute;
  z-index: -1;
  color:lightGray;
  top: 10;
  left: 30%;
}
h2#playerRight{
  position: absolute;
  z-index: -1;
  color:lightGray;
  top: 10;
  right: 30%;
}


div#vertical{
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    /*left: 49%;
    border-left: 20px dotted #444; /*change these values to suit your liking
    */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: lightgray;
    color: black;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 2px;
    background-color: lightgray;
    color: black;
}
